.pointer-right{
    font-size: 25px !important;cursor: pointer !important;transition: 0.5s;
}
.pointer-right:hover{
    font-size: 30px !important; transition: 0.5s;
}
.pointer-left{
    font-size: 25px !important;cursor: pointer !important;transition: 0.5s;
}
.pointer-left:hover{
    font-size: 30px !important; transition: 0.5s;
}

.premier{
    background-image: url('../Image/ISINFO-326-2048x1365.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}
.deuxieme{
    background-image: url('../Image/ISINFO-150-2048x1365.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}
.troisieme{
    background-image: url('../Image/P1380834-2048x1536.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.back-to-top.show {
    display: flex;
    opacity: 1;
}

.hover-zoom {
    transition: transform 0.3s ease-in-out;
}
.hover-zoom:hover {
    transform: scale(1.03);
}
.description-scroll {
    max-height: 150px;
    overflow-y: auto; 
    padding-right: 10px; 
    scrollbar-width: thin; 
}

.description-scroll::-webkit-scrollbar {
    width: 8px; 
}

.description-scroll::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 4px; 
}

.description-scroll::-webkit-scrollbar-thumb:hover {
    background: #0056b3;
}

.description-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}
